### distribution ###
/assets/calendar.svg
/assets/manifest.json
/assets/posts
/dist

### envvar ###
.direnv
.env
.envrc

### macos ###
.DS_Store

### node ###
/node_modules

### rust ###
/target

### workspace ###
.crush
.cursor
.editorconfig
.idea
.ignore
.vscode
