### distribution ###
/dist


### generated ###
/assets/calendar.svg
/assets/manifest.json


### envvar ###
.direnv
.env
.envrc


### macos ###
.DS_Store


### markdowns ###
*.md
!LICENSE
!README.md


### node ###
/node_modules


### rust ###
/target


### workspace ###
.crush
.cursor
.editorconfig
.idea
.ignore
.vscode
